body{
    background-color:rgb(6, 58, 58) ;
}

.title{
    color: black;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font: weight 700px;
    height:300px;
    background-image: url(../../images/homeBanner.jpg);
    background-repeat: no-repeat;
    background-size: cover;   
}

