.detail-area img{
    width: 100%;
    height:250px 
}
.about-team{
    color: white;
    background-color: lightseagreen;
    border-radius: 5px;
    padding:30px
}
.detail-area p{
    color: white;
    margin-top: 80px;
}
.icons{
    display: flex;
    justify-content: center;
    padding-right: 20px;
    color: white;

}